//- Copyright (c) 2017 Chandan B N. All rights reserved.

extends ../layout
include ../util

block append topHeaderLeft
  a.btn.sfe.vgi-magic(href="/users/profile") Add user
  a.fbn.vgi-user(href="/users/list") User list

block content
    +tablesort
    table.vtbl.wht.sortable
        thead
            tr
                th 
                th Username
                th Name
                th Email
                th Teams
                th Instance role
        tbody
            each user in users
             tr
                td=user.emoji
                td
                    a(href="/users/profile/" + user.username)=user.username
                td
                    a(href="/users/profile/" + user.username)=user.name
                td
                    a(href="mailto:" + user.email)=user.email
                td
                    = (user.teams && user.teams.length) ? user.teams.map(function(t){return t.team;}).join(', ') : ''
                td
                    if user.instanceRoles && user.instanceRoles.indexOf('InstanceAdmin') >= 0
                        | Instance Administrator
                    else
                        | Member
